nav>ul {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(189, 82, 82);
}

nav li {
    list-style: none;

    margin: 2px 10px;
    padding: 5px;
}

nav li:hover {
    background-color: rgb(180, 129, 129);
}

nav li a {
    text-decoration: none;
    color: black;
}

nav li .dropdown {
    display: none;
    position: absolute;
    padding-left: 0%;
}

nav li:hover>.dropdown {
    display: block;
    background-color: rgb(180, 129, 129);
}